/* ==== MODAL POPUP ==== */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    backdrop-filter: blur(3px);
}

.modal.show {
    display: flex;
    animation: fadeIn .3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-content {
    background: #fff;
    width: 90%;
    max-width: 450px;
    padding: 2rem;
    border-radius: 15px;
    position: relative;
    text-align: center;
    animation: scaleUp .3s ease;
}

@keyframes scaleUp {
    from {
        transform: scale(.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 28px;
    color: #333;
    cursor: pointer;
}

.modal-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem 1.5rem;
    background: #0b2540;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
}